/* Main container body css */

.container {
  border: 1px solid rgb(213, 213, 213);
  height: 60px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-family: sans-serif;
  cursor: pointer;
}

/* Step Related css */

a {
  text-decoration: none;
  display: flex;
  padding-top: 30px;
}
/* Step Hover */

a:hover {
  opacity: 0.6;
}
.step1 {
  height: 4px;
  width: 400px;
  background-color: blue;

  border: 1px solid blue;
  margin: 10px;
}
.step2 {
  height: 4px;
  width: 400px;
  background-color: blue;
  border: 1px solid blue;
  margin: 10px;
}
.step3 {
  height: 4px;
  width: 400px;
  background-color: rgb(224, 217, 217);
  border: 1px solid rgb(224, 217, 217);
  margin: 10px;
}
