/* Hover Sction in circle 3,4,5 not fixed */

/* Progress line note create  */

/* All body style css */
body {
  background-color: #0f172a;
  font-family: "Inter", sans-serif;
}
.stepper {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  padding-left: 25px;
}

/* Hover section stepper step */

.stepper::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 18px;
  width: 2px;
  height: calc(100% -40px);
  background-color: rgba(75, 75, 213 0.1);
}

/* Content section style css change */

.content {
  display: inline;
  position: relative;
  left: 50px;
  top: -45px;
  font-size: 15px;
  line-height: 5px;
}

/* Anchor tag style css change */

.content a {
  text-decoration: none;
  color: #4f46e5;
  font-size: 15px;
}
/* Circle first section style css */
.circle {
  height: 30px;
  width: 30px;
  background-color: #4f46e5;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
Heading Section  */

.content h3 {
  color: white;
}

/* 
Paragraph sction */

.content p {
  color: rgb(139, 157, 158);
}

/* Circle second section */

.circle1 {
  height: 10px;
  width: 10px;
  background-color: #4f46e5;
  border-radius: 100%;
  position: relative;
}

/* Outer section of circle1  */

.outer {
  border: 3px solid #4f46e5;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
/* 
Circle 3,4,5 style css change section */

.circle3 {
  height: 30px;
  width: 30px;
  border: 2px solid #4f46e5;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step h4 {
  color: rgb(139, 157, 158);
}
