/* Main container body css */

.container {
  border: 1px solid rgb(213, 213, 213);
  height: 60px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Step Related css */

a {
  text-decoration: none;
  display: flex;
  padding-top: 20px;
}
/* Step Hover */

a:hover {
  opacity: 0.6;
}

/* First Step Process */

.step1 {
  border: 1px solid rgb(40, 5, 241);
  background-color: blue;
  cursor: pointer;
  height: 2px;
  width: 300px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}

/* Second Step Process */

.step2 {
  height: 2px;
  width: 300px;
  border: 2px solid blue;
  background-color: blue;
  height: 2px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}

/* Third Step Process */

.step3 {
  height: 2px;
  width: 300px;
  border: 2px solid rgb(191, 187, 205);
  background-color: rgb(191, 187, 205);
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}
