.maincontainer{
    border: 2px solid rgb(213,213,213);
    height: 60px;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    gap:20px;
    justify-content: center;
}

.section1{
    width: 300px;
    position: fixed;
    left: 20px;
    
border-right: 2px solid;
}
.step1{
    background-color: blue;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;

}


.section2{
    width: 300px;
    position: fixed
    ;
    left:300px ;
    cursor: pointer;
}
.step2{
    background-color: blue;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
font-family: sans-serif;
cursor: pointer;
}