.main-container {
  height: 100px;
  border: 1px solid grey;
  border-radius: 8px;
}

span {
}
ul li {
  display: inline;
  padding: 15px;
  color: rgb(97, 96, 96);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.hero ul {
  position: relative;
  border-bottom: 1px solid grey;
  height: 34px;
  margin: 20px;
}
ul li:hover {
  color: rgb(54, 54, 54);
}
button {
  border: 2px solid white;
  border-radius: 10px;
  width: 30px;
  margin-left: 12px;
  cursor: pointer;
}
.interview {
  color: blue;
  border-bottom: 2px solid blue;
}

.bttn1 {
  color: blue;
  background-color: rgb(193, 193, 254);
}
