/* All over the body style change here */

body {
  overflow: hidden;
  background-color: rgb(3, 1, 18);
  color: white;
}

/* Main container section */
.main-container {
  height: 685px;
  width: 300px;
  border: 1px solid rgb(52, 50, 50);
  position: relative;
  left: -8px;
  top: -9px;
  padding-left: 20px;
  padding-right: 20px;
}

/* logo section head */
.head {
  height: 110px;
}

/* Logo section style  */

.logo {
  position: absolute;
  top: 25px;
  left: 20px;
  height: 45px;
  width: 45px;
}

/* second main container box */

.box {
  height: 500px;
  width: 300px;
}

/* Dashboard section */

.dash {
  color: white;
  text-decoration: none;
  background-color: rgb(33, 31, 50);
  font-size: large;
  font-weight: 500;
  display: flex;
  height: 45px;
  width: 280px;
  align-items: center;
  position: relative;
  left: -40px;
  border-radius: 8px;
  padding-left: 10px;
  top: -10px;
}

.fa-home {
  color: white;
  margin-right: 20px;
  display: flex;
}

/* list second team */
.inner {
  font-size: 15px;
  font-weight: 500;
}
.team {
  word-spacing: 45px;
  display: flex;
  height: 45px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  width: 280px;
  border-radius: 8px;
  position: relative;
  left: -40px;
}

ul {
  list-style: none;
}
.dropdown {
  display: inline-flex;
  position: absolute;
  left: 0;
  font-family: sans-serif font;
}
.dropdown ul li a {
  text-decoration: none;
  margin: 10px;
  color: white;
  display: none;
}
.dropdown :hover {
  display: block;
}

.fa-user {
  margin-top: 20px;
  background-color: rgb(33, 31, 50);
  height: 30px;
  width: 350px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 80px;
  padding-top: 10px;
  border-radius: 8px;
  border: 2px solid;
}
.inner {
  word-spacing: 60px;
}
