body {
  background-size: cover;
  background-image: url(natural.jpeg);
  background-repeat: no-repeat;
}
.search-box {
  color: white;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.inside {
  height: 50px;
  width: 400px;
  padding-left: 50px;
  font-size: 15px;
  border-radius: 2px white;
  border-radius: 10px;
}
