/* main body color change */
* {
  background-color: rgb(3, 1, 18);
}
/* container style change */
.conatiner {
  color: white;
  border: 2px solid #0d1117;
  height: 30px;
  width: 350px;
  padding: 20px;
  background-color: #03122a;
  border-radius: 15px;
  position: absolute;
  right: 20px;
  box-shadow: 1px 1px 1px 1px rgba(245, 241, 241, 0.2);
}
/* text in notification */
.noti {
  background-color: #0d1117;
}
.hover-sym {
  background: none;
  position: relative;
  right: -200px;
  cursor: pointer;
  font-size: 30px;
  position: relative;
  top: -10px;
}
.hover-sym:hover {
  color: rgb(120, 115, 115);
}
/* undo button  */
.bttn {
  color: #4f9cf9;
  position: absolute;
  right: 70px;
  font-size: 15px;
  background-color: #0d1117;
  cursor: pointer;
  box-shadow: none;
}
.bttn:hover {
  color: white;
}
