* {
  background-color: black;
}
.conatiner {
  color: white;
  border: 2px solid rgb(40, 40, 40);
  height: 30px;
  width: 350px;
  padding: 20px;
  background-color: rgb(40, 40, 40);
  border-radius: 15px;
  position: absolute;
  right: 20px;
}
.noti {
  background-color: rgb(40, 40, 40);
}
.hover-sym {
  background-color: rgb(40, 40, 40);
  position: relative;
  right: -200px;
}
.hover-sym:hover {
  background-color: white;
}
