* {
  background-color: rgb(196, 192, 192);
}
.container {
  border: 2px solid black;
  height: 65px;
  width: 300px;
  padding: 10px 50px;
  position: absolute;
  left: 200px;
  background-color: white;
}
.noti {
  opacity: 0.6;
  background-color: white;
  position: absolute;
  top: -10px;
}
.cancel {
  position: absolute;
  top: -30px;
  left: 380px;
  font-size: 35px;
  opacity: 0.5;
  background-color: white;
}
.cancel:hover {
  color: rgb(120, 115, 115);
  cursor: pointer;
}
