.notice {
  height: 70px;
  width: 300px;
  border: 2px solid rgb(215, 212, 212);
  position: absolute;
  border-radius: 15px;
  top: 60px;
  right: 0px;
  padding: 0px 0px 0px 35px;
  background-color: rgba(252, 253, 253, 0.849);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: center;
}
.cancel {
  position: absolute;
  top: 7px;
  left: 290px;
  border-color: rgba(31, 31, 243, 0.903);
  border: none;
  background: none;
}
.correct {
  border-radius: 50%;
  border-color: rgb(71, 243, 71);
  color: rgb(71, 243, 71);
  position: inherit;
  top: 10px;
  right: 310px;
}
.note {
  margin-top: 10px;
  opacity: 0.5;
}
