.avatarContainer {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.label {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.dot {
  position: absolute;
  top: 5px;
  right: -2px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 100%;
  border: 2px solid white;
}
