.img1 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
    left: 10px;
        margin: 0px;
    padding: 0%;
}
.img2 {
    height: 100px;
    width: 100px;
    border-radius: 100%;



}
.img3 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
        margin: 0px;
    padding: 0%;
    position:relative;
    bottom: 84%;
    right: 15px;
    
}
.img4 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0px;
    padding: 0%;
    bottom: 84%;
    right: 25px;
}
.Avatar{
    background-color: red;
}