/* Problem in fixing  page button on proper place */

body {
  border: 25px solid grey;
  border-radius: 10px;
}

/* 
footer body section opacity decrease  */

header {
  opacity: 0.3;
}

/* main container section */

.main-container {
  border: 1px solid grey;
  height: 400px;
  justify-content: left;
}

/* user icon */

.fa-user {
  margin-left: 20px;
  margin-right: 20px;
}

/* left side portion style css */

.first-left {
  justify-content: left;
  margin-right: 10px;
}

/* Right side style portion css relatin to location */

.first-right {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  position: relative;
  top: -90px;
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}

/* Horizental line which seprate all of the setion */

hr {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  top: -50px;
}

/* Button section in location related */

.bttn {
  color: green;
  border-radius: 8px;
  border-color: grey;
  position: relative;
  right: -75px;
}

/* 
Location icon 
*/

.location {
  position: relative;
  bottom: -30px;
  font-size: 17px;
  font-family: sans-serif;
}

/* Here footer section start */

.foot {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 390px;
  margin-left: 20px;
}

/* Scroll section button created here */

.page button {
  height: 30px;
  width: 35px;
  font-size: 17px;
  border: 1px solid grey;
  background-color: white;
  margin: -2px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  left: 10px;
  top: 10px;
}
